In [12]:
import mysql.connector

In [19]:
# connect to MySQL
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'admin123',
    auth_plugin = 'mysql_native_password')

print(mydb)

mycursor = mydb.cursor(buffered = True)

mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

<mysql.connector.connection.MySQLConnection object at 0x7fd5a9694dc0>
('igti',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [20]:
# create table
mycursor.execute("USE igti;")

mycursor.execute("CREATE TABLE actors (\
    id int NOT NULL AUTO_INCREMENT,\
    name varchar(150) NOT NULL,\
    age int NOT NULL,\
    PRIMARY KEY (id));")

mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('igti',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [22]:
# insert in the table
query = "INSERT INTO actors (name, age) VALUES (%s, %s)"
values = ("Tom Hanks", 70)

mycursor.execute(query, values)

mydb.commit()

print(mycursor.rowcount, "Register(s) inserted")

1 Register(s) inserted

In [23]:
# inserting multiple records
values = [("Jim Carrey", 50), ("Ellen Pompeo", 45)]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "Register(s) inserted")

2 Register(s) inserted

In [24]:
# select
mycursor.execute("SELECT * FROM actors")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

(1, 'Tom Hanks', 70)
(2, 'Jim Carrey', 50)
(3, 'Ellen Pompeo', 45)

In [27]:
# insert from csv without Pandas
import csv

filename = '/Users/maywong/Documents/bootcamp/datasets/csv/result.csv'

with open(filename) as incsvfile:
    reader = csv.reader(incsvfile, delimiter = ',')
    next(reader, None)
    for line in reader:
        print(line)
        mycursor.execute("INSERT INTO actors (id, name, age) VALUES (%s, %s, %s)", line)
        
mydb.commit()

incsvfile.close()

['5', 'Leonardo Dicaprio', '45']
Leonardo Dicaprio
['6', 'Jenifer Aniston', '48']
Jenifer Aniston
['7', 'Fernanda Torres', '40']
Fernanda Torres
['8', 'Noah Centineo', '24']
Noah Centineo
1 Register(s) inserted

In [28]:
mydb.close()